<%= form_for @user, :html => {:class => "form-horizontal center-block", :multipart => true} do |f| %>
  <% if current_user == @user %>
    <h2 class="form-group accent-text title"><%= @user.first_name%>'s info</h2>
  <% else %><br>
    <h2 class="form-group accent-text title">Signup</h2>
  <% end %>
  <div class="form-group">
    <%= f.label :first_name, "first name", class: "control-label" %>
    <%= f.text_field :first_name, :required => true, class: "form-control accent-text" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, "last name", class: "control-label" %>
    <%= f.text_field :last_name, :required => true, class: "form-control accent-text" %>
  </div>
  <div class="form-group">
    <%= f.label :email, "email", class: "control-label" %>
    <%= f.text_field :email, :required => true, class: "form-control accent-text" %>
  </div>
  <div class="form-group">
    <%= f.label :password, "password", class: "control-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :interest, "interest", class: "control-label" %>
    <%= f.text_field :interest, class: "form-control accent-text" %>
  </div>

    <%= f.file_field :avatar, class: "text-center" %><br>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-accent form-control" %>
  </div>


<% end %>
