<!DOCTYPE html>
<html>
<head>
  <title>GlassMirror</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user %>
        <%= link_to "Glass Door", user_path(current_user), class: "navbar-brand", id: "nav-title" %>
      <% else %>
        <a class="navbar-brand" id="nav-title" href="/">Sharetastic</a>
      <% end %>
    </div><!-- /.navbar-collapse -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <li><a data-ui-sref="home">Home</a></li>
        <li><a data-ui-sref="wines-index">Wines</a></li>
      </ul>
  </div><!-- /.container-fluid -->
  </nav>

<%= yield %>

</body>
</html>
